.fc-event .remove-btn {
  display: block;
  width: 18px;
  height: 18px;
  overflow: hidden;
  background-color: #fff;
  float: right;
  text-indent: -200px;
  position: relative;
}
/* Otherwise delete via tap breaks. */
.fc-event-selected:before,
.fc-event:focus:before {
  z-index: auto;
}
.fc-event .remove-btn::before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid;
  border-color: transparent transparent #666 #666;
  transform: rotate(45deg);
  top: 4px;
  left: 10px;
}
.fc-event .remove-btn::after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid;
  border-color: #666 #666 transparent transparent;
  transform: rotate(45deg);
  top: 4px;
  left: -2px;
}
.fc-event .event-title {
  font-weight: bold;
}
.fc-event .event-text {
  clear: both;
}
.fc .fc-bg-event {
  background-color: #ffcccc;
}
.fc .fc-event-past {
  background-color: #aebbc8;
  border-color: #aebbc8;
}
.form-item-fc-slot.form-error {
  outline: 2px solid #f00;
}
table.fc-scrollgrid {
  margin: 0;
}
/* Prevent ugly Seven table hover effect */
.fc-scrollgrid tr:hover,
.fc-scrollgrid tr:hover td.active,
.fc-scrollgrid tr.odd:hover td.active {
  background: inherit;
}
@media (max-width: 480px) {
  .fc .fc-toolbar-title {
    font-size: 1.4rem;
  }
  .fc .fc-col-header-cell-cushion,
  .fc .fc-timegrid-slot-label-cushion {
    font-size: .9rem;
  }
}
